/out/
/pages/
/motion/
/.ebextensions/
/reports/
/optimization.ipynb
/process_thread.py
/flask_wrapper/google_refresh_token.py
/flask_wrapper/email.json
/db/db.sqlite
/flask_wrapper/templates/input.css
/flask_wrapper/templates/tailwind.config.js
/flask_wrapper/assets/output.css
/flask_wrapper/assets/save_data/
/flask_wrapper/db.sqlite
