dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Login
Flask-SQLAlchemy
gunicorn
imageio
itsdangerous
jupyter-dash
kaleido
matplotlib
mediapipe
mkdocs-material-extensions
msgpack
opencv-python
pandas
protobuf<3.20
scipy
SQLAlchemy
stripe
tqdm
webencodings
Werkzeug
yagmail
av
pyarrow