<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page not found – swinglab</title>
<!--    <link rel="stylesheet" href="https://cdn.tailwindcss.com" />-->
    <script src="https://cdn.tailwindcss.com"></script>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">-->
</head>

<body style="background-color: rgba(246, 249, 255, 1)">

<div class="flex flex-col min-h-full items-center justify-center px-4 place-items-center h-screen sm:px-6 lg:px-8">
  <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl block">
    <span class="block">404 Page not found</span>
  </h2>
  <h2 class="mt-8 text-xl font-bold leading-6 text-gray-900 sm:text-3xl block">
      Go to <a href="/" class="text-indigo-600 hover:text-indigo-700">Home</a>
  </h2>
</div>

</body>

</html>