<!DOCTYPE html>
<html class="min-h-full flex flex-col" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Open graph link preview-->
    <meta content="Swinglab – Your AI powered swing analysis" property="og:title">
    <meta content="Swinglab is your AI assisted golf coach to improve your game today" property="og:description">
    <meta content="{{ url_for('static', filename='preview_picture.png') }}" property="og:image">
    <meta content="https://swinglab.app" property="og:url">
    <meta content="website" property="og:type">
    <meta content="Swinglab" property="og:site_name">
    <meta content="en_US" property="og:locale">

    <!--    Twitter link preview-->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="@swinglab_app" name="twitter:site">
    <meta content="@swinglab_app" name="twitter:creator">
    <meta content="Swinglab – Your AI powered swing analysis" name="twitter:title">
    <meta content="Swinglab is your AI assisted golf coach to improve your game today." name="twitter:description">
    <meta content="{{ url_for('static', filename='preview_picture.png') }}" name="twitter:image">
    <meta content="Swinglab preview" name="twitter:image:alt">
    <meta content="https://swinglab.app" name="twitter:domain">

    <!--    Google link preview-->
    <meta content="Swinglab is your AI assisted golf coach to improve your game today." name="description">
    <meta content="swinglab, swing, golf, golf swing, golf swing analysis, golf swing analyzer, golf swing analysis app, golf swing analysis software, golf swing analysis too
l, golf swing
    analyzer app, golf swing analyzer software, golf swing analyzer tool, golf swing analysis app android, golf swing analysis app iphone, golf swing analysis app ios, golf swing analysis
    app
    ipad, golf swing analysis app ipad pro, golf swing analysis app mac, golf swing analysis app windows, golf swing analysis app windows 10, golf swing analysis app windows 7, golf
    swing
    analysis app windows 8, golf swing analysis app windows 8.1, golf swing analysis app windows phone, golf swing analysis app windows xp, golf swing analysis app xbox, golf swing
    analysis
    app xbox one, golf swing analysis app xbox one x, golf swing analysis app xbox series x, golf swing analysis app xbox series s, golf swing analysis app xbox 360, golf swing
    analysis
    app xbo
    x 360 kinect, g
    olf swi
    ng analysis app xbox 360 kinect, golf swing analysis app xbox kinect, golf swing analysis app xbox one kinect, golf swing analysis app xbox 360 kinect, golf swing analysis app
    xbox
    kinect, golf swing analysis app xbox one kinect, golf swing analysis app xbox 360 kinect, golf swing analysis app xbox kinect, golf swing analysis app xbox one kinect, golf swing
    analysis app xbox 360 kinect, golf swing analysis app xbox kinect, golf swing analysis app xbox one kinect, golf swing analysis app xbox 360 kinect, golf swing analysis app xbox
    kinect, golf swing analysis app xbox one kinect, golf swing analysis app xbox 360 kinect, golf swing analysis app xbox kinect, golf swing analysis app xbox one kinect, golf swing
    " name="keywords">
    <meta content="Swinglab" name="author">
    <meta content="nositelinkssearchbox" name="google">

    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Swinglab - Your AI powered swing analysis</title>
    {% endif %}

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/output.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

    <!--    <script data-api="/api/event" data-domain="swinglab.app" defer src="/js/script.js"></script>-->
    <script data-domain="swinglab.app" defer src="https://plausible.io/js/script.js"></script>

</head>

<!--background-color: rgba(246, 249, 255, 1)-->

<body class="bg-[#FAF7F5] dark:bg-slate-800 flex flex-col grow m-0 p-0 relative">

<div class="py-4 mx-0 rounded-b-2xl z-20 w-full hidden md:flex">
    <div class="mx-4 md:mx-16 w-full justify-center">
        <div class="flex items-center md:space-x-10 w-full justify-center">
            <nav class="space-x-5 justify-center flex flex-row">
                {% if current_user.is_authenticated %}
                {% if request.path == '/' %}
                <a class="font-medium text-xs text-amber-500 hover:text-amber-400 border-2 border-amber-500 hover:border-amber-400 items-center justify-center rounded-3xl px-2 py-1 transition"
                   href="{{ url_for('main.index') }}">HOME</a>
                {% else %}
                <a class="font-medium text-xs text-amber-500 hover:border-amber-400 border-2 border-transparent hover:text-amber-400 items-center justify-center px-2 py-1 rounded-3xl transition"
                   href="{{ url_for('main.index') }}">HOME</a>
                {% endif %}

                {% if request.path == '/profile' %}
                <a class="font-medium text-xs text-amber-500 hover:text-amber-400 border-2 border-amber-500 hover:border-amber-400 items-center justify-center rounded-3xl px-2 py-1 transition"
                   href="{{ url_for('main.profile') }}">PROFILE</a>
                {% else %}
                <a class="font-medium text-xs text-amber-500 hover:border-amber-400 border-2 border-transparent hover:text-amber-400 items-center justify-center px-2 py-1 rounded-3xl transition"
                   href="{{ url_for('main.profile') }}">PROFILE</a>
                {% endif %}

                <a class="font-medium text-xs text-amber-500 hover:border-amber-400 border-2 border-transparent hover:text-amber-400 items-center justify-center px-2 py-1 rounded-3xl transition"
                   href="{{ url_for('main.dashboard') }}">DASHBOARD</a>

                {% if request.path == '/practice' %}
                <a class="font-medium text-xs text-amber-500 hover:text-amber-400 border-2 border-amber-500 hover:border-amber-400 items-center justify-center rounded-3xl px-2 py-1 transition"
                   href="{{ url_for('main.practice') }}">PRACTICE</a>
                {% else %}
                <a class="font-medium text-xs text-amber-500 hover:border-amber-400 border-2 border-transparent hover:text-amber-400 items-center justify-center px-2 py-1 rounded-3xl transition"
                   href="{{ url_for('main.practice') }}">PRACTICE</a>
                {% endif %}

                {% if request.path == '/guide' %}
                <a class="font-medium text-xs text-amber-500 hover:text-amber-400 border-2 border-amber-500 hover:border-amber-400 items-center justify-center rounded-3xl px-2 py-1 transition"
                   href="{{ url_for('main.guide') }}">GUIDE</a>
                {% else %}
                <a class="font-medium text-xs text-amber-500 hover:border-amber-400 border-2 border-transparent hover:text-amber-400 items-center justify-center px-2 py-1 rounded-3xl transition"
                   href="{{ url_for('main.guide') }}">GUIDE</a>
                {% endif %}

                {% endif %}
            </nav>

            <div class="items-center absolute right-14 top-4">
                {% if not current_user.is_authenticated %}
                <a class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 px-2 py-1 text-xs font-medium text-slate-600 hover:border-slate-400 hover:text-slate-400 dark:text-gray-100 dark:border-gray-100 transition"
                   href="{{ url_for('auth.login') }}">SIGN
                    IN</a>
                <!--                <a href="{{ url_for('auth.signup') }}" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 px-2 py-1 text-xs font-medium text-slate-600 hover:border-slate-400 hover:text-slate-400 dark:text-gray-100 dark:border-gray-100 transition">GET STARTED</a>-->
                {% endif %}
                {% if current_user.is_authenticated %}
                <a class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 dark:border-gray-100 px-2 py-1 text-xs font-medium text-slate-600 dark:text-gray-100 hover:border-slate-400 hover:text-slate-400 transition"
                   href="{{ url_for('auth.logout') }}">LOGOUT</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!--menu burger-->
<div class="flex flex-row ml-2 mr-4 mt-2 z-40 justify-between md:hidden">
    <button class="inline-flex items-center justify-center p-2 text-gray-500 hover:text-gray-600" id="open_menu"
            type="button">
        <span class="sr-only">Open menu</span>
        <!-- Heroicon name: outline/x-mark -->
        <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="currentColor" stroke-width="1.5"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M2.25169 7.07296L17.7483 7.07296 M2.25169 12.927L17.7483 12.927" fill="none" opacity="1"
                  stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
        </svg>
    </button>
    <div class="items-center">
        {% if not current_user.is_authenticated %}
        <a class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 px-2 py-1 text-xs font-medium text-slate-600 hover:border-slate-400 hover:text-slate-400 dark:text-gray-100 dark:border-gray-100 transition"
           href="{{ url_for('auth.login') }}">SIGN
            IN</a>
        <!--                <a href="{{ url_for('auth.signup') }}" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 px-2 py-1 text-xs font-medium text-slate-600 hover:border-slate-400 hover:text-slate-400 transition dark:border-gray-100 dark:text-gray-100">GET STARTED</a>-->
        {% endif %}
        {% if current_user.is_authenticated %}
        <a class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full border-2 border-slate-600 px-2 py-1 text-xs font-medium text-slate-600 hover:border-slate-400 hover:text-slate-400 transition dark:border-gray-100 dark:text-gray-100"
           href="{{ url_for('auth.logout') }}">LOGOUT</a>
        {% endif %}
    </div>
</div>

<!--
  Mobile menu, show/hide based on mobile menu state.

  Entering: "duration-200 ease-out"
    From: "opacity-0 scale-95"
    To: "opacity-100 scale-100"
  Leaving: "duration-100 ease-in"
    From: "opacity-100 scale-100"
    To: "opacity-0 scale-95"
-->
<div class="absolute inset-x-0 top-0 origin-top-right transform p-2 transition md:hidden z-40">
    <div class="divide-y-2 divide-gray-50 dark:divide-gray-600 rounded-lg bg-white dark:bg-gray-900 shadow-lg ring-1 ring-black ring-opacity-5 hidden transition"
         id="menubar">
        <div class="px-5 pt-5 pb-6">
            <div class="flex items-center justify-end">
                <div class="-mr-2 -mt-2">
                    <button class="inline-flex items-center justify-center rounded-md bg-white dark:bg-gray-900 p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                            id="close_menu"
                            type="button">
                        <span class="sr-only">Close menu</span>
                        <!-- Heroicon name: outline/x-mark -->
                        <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="currentColor"
                             stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <nav class="grid gap-y-8">

                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 dark:hover:bg-gray-700"
                       href="{{ url_for('main.index') }}">
                        <!-- Heroicon name: outline/cursor-arrow-rays -->
                        <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0 text-indigo-600"
                             fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.2202 6.77181L18.2202 15.1745C18.2202 16.7163 16.7481 17.9662 14.9321 17.9662L5.06789 17.9662C3.25193 17.9662 1.77981 16.7163 1.77981 15.1745L1.77981 6.77181 M7.1834 17.9662L7.1834 12.3632C7.1834 11.1965 8.12917 10.2508 9.29585 10.2508L10.7042 10.2508C11.8708 10.2508 12.8166 11.1965 12.8166 12.3632L12.8166 17.9662 M1.77981 6.77181L10 2.03377 M10.0137 2.03377L18.2202 6.77181"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span class="ml-3 text-sm font-medium text-gray-900  dark:text-gray-100">Home</span>
                    </a>

                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 dark:hover:bg-gray-700"
                       href="{{ url_for('main.profile') }}">
                        <!-- Heroicon name: outline/squares-2x2 -->
                        <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0 text-indigo-600"
                             fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.39946 15.609C4.39946 12.5159 6.90691 10.0084 10 10.0084C13.0931 10.0084 15.6005 12.5159 15.6005 15.609C15.6005 18.7021 4.39946 18.7021 4.39946 15.609Z M7.56084 4.96403C7.56084 3.36636 8.65289 2.0712 10 2.0712C11.3471 2.0712 12.4392 3.36636 12.4392 4.96403C12.4392 6.56169 11.3471 7.85686 10 7.85686C8.65289 7.85686 7.56084 6.56169 7.56084 4.96403Z"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-100 dark:hover:bg-gray-700">Profile</span>
                    </a>

                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 dark:hover:bg-gray-700"
                       href="{{ url_for('main.dashboard') }}">
                        <!-- Heroicon name: outline/chart-bar -->
                        <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0 text-indigo-600"
                             fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-100">Dashboard</span>
                    </a>

                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 dark:hover:bg-gray-700"
                       href="{{ url_for('main.practice') }}">
                        <!-- Heroicon name: outline/chart-bar -->
                        <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0 text-indigo-600"
                             fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 013 19.875v-6.75zM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V8.625zM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 01-1.125-1.125V4.125z"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-100">Practice</span>
                    </a>

                    <a class="-m-3 flex items-center rounded-md p-3 hover:bg-gray-50 dark:hover:bg-gray-700"
                       href="{{ url_for('main.guide') }}">
                        <!-- Heroicon name: outline/cursor-arrow-rays -->
                        <svg aria-hidden="true" class="h-6 w-6 flex-shrink-0 text-indigo-600"
                             fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.042 21.672L13.684 16.6m0 0l-2.51 2.225.569-9.47 5.227 7.917-3.286-.672zM12 2.25V4.5m5.834.166l-1.591 1.591M20.25 10.5H18M7.757 14.743l-1.59 1.59M6 10.5H3.75m4.007-4.243l-1.59-1.59"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"/>
                        </svg>
                        <span class="ml-3 text-sm font-medium text-gray-900  dark:text-gray-100">Guide</span>
                    </a>

                </nav>
            </div>
        </div>
        <div class="space-y-6 py-5 px-5">
            <div class="grid grid-cols-2 gap-y-4 gap-x-8">
                <a class="text-sm font-medium text-gray-900  dark:text-gray-100 hover:text-gray-700" href="/privacy">Privacy
                    Policy</a>
                <a class="text-sm font-medium text-gray-900  dark:text-gray-100 hover:text-gray-700" href="/terms">Terms
                    of use</a>
                <a class="text-sm font-medium text-gray-900  dark:text-gray-100 hover:text-gray-700" href="/impressum">Legal
                    notice</a>
                <a class="text-sm font-medium text-gray-900  dark:text-gray-100 hover:text-gray-700" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</div>

<div class="mx-4 md:mx-16 relative flex flex-col grow" id="container">
    <!--            <div class="container has-text-centered">-->
    {% block content %}
    {% endblock %}
    <!--            </div>-->
</div>

{% if not hideFooter %}
<div class="w-full z-30 block hidden md:block overflow-hidden">

    <div class="bg-gray-700 origin-bottom-left skew-y-3 w-full -mb-44 bottom-0 h-44 z-0">
        <!--        <div class="height-12 width-96 -top-6 left-24 bg-indigo-400 z-40"></div>-->
    </div>

    <div class="flex flex-col gap-4 h-32 flex items-start pl-16 justify-center z-40">

        <span class="text-amber-500 text-xs opacity-90 mb-4">© 2023 Swinglab. All rights reserved.</span>

        <div class="flex flex-row  gap-20 mx-0">

            <div class="flex flex-row gap-10 z-40">
                <a class="text-amber-500 text-xs hover:text-amber-400" href="/privacy">Privacy Policy</a>
                <a class="text-amber-500 text-xs hover:text-amber-400" href="/terms">Terms of use</a>
                <a href="/contact" class="text-amber-500 text-xs hover:text-amber-400">Contact</a>
                <a class="text-amber-500 text-xs hover:text-amber-400" href="/impressum">Legal notice</a>
            </div>

        </div>

    </div>
</div>
{% endif %}

<script src="{{url_for('static', filename='menu.js')}}"></script>

</body>

</html>