{% extends "base2.html" %}

{% block content %}

<script>
    bod = document.body
    bod.style.backgroundColor = "rgba(250, 247, 245, 1)"
    // bod.style.backgroundImage = "url(assets/background.png)"
    // bod.className = "bg-fixed"
</script>

<div class="relative overflow-x-auto mt-6 rounded-lg">
    <table id="users" class="w-full table-auto text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3">id</th>
                <th class="px-6 py-3">email</th>
                <th class="px-6 py-3">name</th>
                <th class="px-6 py-3">active</th>
                <th class="px-6 py-3">email_new</th>
                <th class="px-6 py-3">n_analyses</th>
                <th class="px-6 py-3">unlimited</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="px-6 py-4">{{user.id}}</td>
                    <td class="px-6 py-4">{{user.email}}</td>
                    <td class="px-6 py-4">{{user.name}}</td>
                    <td class="px-6 py-4">{{user.active}}</td>
                    <td class="px-6 py-4">{{user.email_new}}</td>
                    <td class="px-6 py-4">{{user.n_analyses}}</td>
                    <td class="px-6 py-4">{{user.unlimited}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}