{% extends "base2.html" %}

{% block content %}


<script>
    bod = document.body
    bod.style.height = "100%"
</script>

<div class="flex flex-col w-full w-max-lg h-full mb-4 text-justify">
    <h1 class="text-3xl font-bold text-gray-900 dark:text-gray-100 my-10">Swinglab Guide</h1>

    <span class="text-gray-900 dark:text-gray-100 mb-10">Our goal is to make 3D golf analyses accessible to anyone and therefore make the process as easy as possible.
        After uploading a swing video, our AI will automatically analyse the swing and provide you with detailed insights.
        The following guide will help you to record your swing video for the best possible results.
    </span>

    <span class="text-gray-900 dark:text-gray-100 mb-10">
        Note: We are still in the process of testing the technology and are working on improving the accuracy of the analysis. Therefore, the accuracy of the results can not be guaranteed. If you encounter any issues or have suggestion how we can improve our service, please <a
            class="text-blue-500 hover:text-blue-600" href="/contact">contact us</a>.
    </span>

    <div class="text-2xl font-medium text-gray-900 dark:text-gray-100 mb-4">The perfect angle</div>

    <div class="relative justify-center">
        <img alt="ideal angle" class="w-48 h-48 float-right ml-8"
             src="{{ url_for('static', filename='ideal_angle.svg') }}">
        <span class="text-gray-900 dark:text-gray-100">Swinglab uses AI technology to extract the motion from your swing video. As the technology relies on a single video the quality of the analysis is influenced by the recording angle
        and the quality of the video. Even if a body part is occluded or not visible in the video, the AI will still predict the motion of the body part.
        However, the accuracy of the prediction might be lower. The best overall results can be achieved by recording the swing from an angle between 30° and 60°.
        Depending on which swing characteristic you want to analyze, the angle of the camera might vary. For the arm path you should record the video from the direction you want to analyze it.
        </span>
    </div>

    <div class="text-2xl font-medium text-gray-900 dark:text-gray-100 mt-4 mb-4">Camera Settings</div>

    <span class="text-gray-900 dark:text-gray-100">
        The best results are achieved by recording the swing video with 60 fps. To reduce calculation time and prevent a false analysis, the video should be cut to the length of the swing.
        Avoid recordings that capture alot of the setup without movement and stop the recording as soon as the swing is finished. The duration of the video should be around 3 seconds.
    </span>

    <div class="flex sm:flex-row flex-col items-center justify-center sm:gap-24 gap-8 mt-10 mb-4">

        <div class="flex flex-col items-center justify-center gap-4">
            <video class="h-96" controls autoplay>
                <source src="{{ url_for('static', filename='motion-2.mp4') }}" type="video/mp4">
            </video>
            <span class="text-gray-900 dark:text-gray-100">Optimal duration</span>
        </div>

        <div class="flex flex-col items-center justify-center gap-4">
            <video class="h-96" controls autoplay>
                <source src="{{ url_for('static', filename='johnson.mp4') }}" type="video/mp4">
            </video>
            <span class="text-gray-900 dark:text-gray-100">Suboptimal duration</span>
        </div>
    </div>

    <div class="text-2xl font-medium text-gray-900 dark:text-gray-100 mt-4 mb-4">Practice</div>

    <span class="text-gray-900 dark:text-gray-100">
        With our practice feature you can get realtime feedback on your swing. When you are inside the margins the diplay will turn green and a sound will play. If you are outside the margins the display will turn red. Please be aware that this feature requires sufficient computing power as the predictions are run locally on your device. Therefore, the video might be laggy. It is recommended to use a newer phone or a computer.
    </span>

    <span class="text-gray-900 dark:text-gray-100 mt-4">
        To use the practice feature, you need to allow access to your camera in your device settings.
    </span>

    <div class="flex flex-row justify-between w-full mt-4 gap-4 bg-white rounded-2xl p-6 relative">
        <div class="flex-col flex gap-6">
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    1
                </div>
                <span class="ml-6">
                <span class="highlight-text">Select the body part</span> in the bottom right corner. Currently, only pelvis and thorax rotation are supported
            </span>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    2
                </div>
                <span class="ml-6">
                <span class="highlight-text">Select the angle range</span> you want to set to track.
            </span>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    3
                </div>
                <span class="ml-6">
                    If you have multiple cameras attached to your device, <span
                        class="highlight-text">select the camera</span> to use. For your phone, this will either be the front- or rear-facing camera
            </span>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    4
                </div>
                <span class="ml-6">
                Press the <span class="highlight-text">start</span> button to start the practice session.
            </span>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    5
                </div>
                <span class="ml-6">
                To <span class="highlight-text">calibrate the camera</span>, the goal direction has to be determined. For this, you have to take your setup position with your feet pointing in the goal direction. If you have someone to assist you, they can press the setup button to finish the calibration. But don't worry if you're alone - just raise your hand with an open palm, and everything will be set up. The angle between the goal direction and the camera will be shown under 'camera angle'
            </span>
            </div>
            <div class="flex flex-row items-center">
                <div class="bg-indigo-600 rounded-full flex w-8 h-8 text-white items-center justify-center flex-none">
                    6
                </div>
                <span class="ml-6">
                If you want to <span class="highlight-text">stop</span> the practice session, press the stop button
            </span>
            </div>
        </div>
        <img alt="practice view" class="w-1/3 h-auto flex-none"
             src="{{ url_for('static', filename='practice_view.png') }}">
    </div>


</div>

{% endblock %}