{% extends "base2.html" %}

{% block content %}

<script>
    bod = document.body
    bod.classList.add("h-screen")
</script>

<h1 class="text-3xl font-bold mb-10 text-gray-900 dark:text-gray-100 mt-10">Impressum</h1>

<h2 class="text-gray-900 dark:text-gray-100 text-2xl mb-4">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p class="text-gray-900 dark:text-gray-100">Julian Link<br />
Swinglab<br />
Steinhauser Str. 3<br />
81677 M&uuml;nchen</p>

<h2 class="mt-10 text-gray-900 dark:text-gray-100 text-2xl mb-4">Kontakt</h2>
<p class="text-gray-900 dark:text-gray-100">E-Mail: info@swinglab.app</p>

<h2 class="mt-10 text-gray-900 dark:text-gray-100 text-2xl mb-4">EU-Streitschlichtung</h2>
<p class="text-gray-900 dark:text-gray-100">Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

<h2 class="mt-10 text-gray-900 dark:text-gray-100 text-2xl mb-4">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p class="text-gray-900 dark:text-gray-100">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

{% endblock %}