{% extends "base2.html" %}

{% block content %}

<script>
    bod = document.body
    bod.style.backgroundColor = "rgba(250, 247, 245, 1)"
    // bod.style.backgroundImage = "url(assets/background.png)"
    // bod.className = "bg-fixed"
</script>

<div class="flex flex-col gap-4 z-20 h-full w-full">
        <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl mt-10 z-10">Your</span>
    <div class="flex">
        <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl bg-indigo-100 py-8 px-8 rounded-full justify-center items-center ml-20 backdrop-blur-md bg-opacity-70 z-10">AI powered</span>
    </div>
    <div class="flex">
        <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl bg-indigo-100 py-8 px-8 rounded-full justify-center items-center ml-4 backdrop-blur-md bg-opacity-70 z-10">Swing Analysis</span>
    </div>
</div>

<div class="flex flex-row min-h-full w-full py-8 mx-auto inset-x-0 fixed inset-y-0 justify-center items-center z-0 bg-fixed">
     <img src="{{url_for('static', filename='background.png')}}" class="w-[45rem] z-0" alt="golfer">
</div>

{% endblock %}
