{% extends "base2.html" %}

{% block content %}

<script>
    bod = document.body
    let darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches

    if (darkMode) {
        bod.style.backgroundColor = "#475569"
    }
    else {
        bod.style.backgroundColor = "#FAF7F5"
    }

    window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', e => {
        darkMode = e.matches;

        if (darkMode) {
        bod.style.backgroundColor = "#475569"
        }
        else {
            bod.style.backgroundColor = "#FAF7F5"
        }
    })

    // bod.style.backgroundImage = "url(assets/background.png)"
    // bod.style.backgroundRepeat = "no-repeat"
    // bod.style.backgroundPosition = "center"
    // bod.className = "bg-fixed"
    bod.className = "bg overflow-y-auto"
    bod.style.height = "100%"

document.addEventListener('DOMContentLoaded', function() {
        // console.log("loaded")
        replay = document.getElementById("video-replay")
        video = document.getElementById("video")

        video.addEventListener('ended', function() {
            replay.style.display = "block"
        })

        replay.addEventListener('click', function() {
            console.log("replay")
            video.pause()
            video.currentTime = 0
            video.play()
        })
    })

</script>


<div class="relative md:mx-10 lg:ml-40 flex flex-col mt-40 z-20 md:w-1/2 px-4 py-4 backdrop-blur-md rounded-2xl bg-[#FAF7F5] bg-opacity-30 dark:bg-slate-600 dark:bg-opacity-30">
        <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl z-10">Your AI powered</span>
    <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl z-10">Swing Analysis</span>
    <div class="flex">
<!--        <span class="text-gray-900 font-medium text-4xl lg:text-6xl xl:text-7xl z-10">AI powered</span>-->
    </div>

    <div class="flex-col flex mt-4">
        <span class="text-2xl text-gray-500 dark:text-gray-200 font-medium z-10">Simply upload your swing video and get instant feedback – No equipment needed</span>
    </div>

    <div class="relative flex lg:flex-row flex-col mt-8 z-10 items-center">
   {% if not current_user.is_authenticated %}
        <div class="bg-gradient-to-br from-indigo-700 to-orange-500 rounded-full px-1 py-1 hover:bg-indigo-600 mb-4 lg:mb-0">
            <a href="{{ url_for('auth.signup') }}" class="bg-[#FAF7F5] dark:bg-slate-600 inline-flex items-center justify-center whitespace-nowrap rounded-full px-4 py-2 text-md font-bold text-slate-600 hover:border-slate-400 hover:text-slate-400 dark:text-gray-100 dark:border-gray-100 transition">GET STARTED</a>
        </div>
        <div class="flex flex-row">
        <div class="text-2xl text-gray-500 dark:text-gray-200 font-medium z-10 lg:ml-6">With&nbsp;</div>
        <div class="text-2xl text-gray-500 dark:text-gray-200 font-medium z-10">two&nbsp;</div>
        <div class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-700 to-orange-500 text-2xl font-medium z-10">free&nbsp;</div>
        <div class="text-2xl text-gray-500 dark:text-gray-200 font-medium z-10">analyses</div>
        </div>
    {% endif %}
</div>
</div>



<!--video-->
<div class="flex relative w-full justify-end">
<div class="relative flex flex-col mt-40 z-20 mr-0 lg:mr-24 justify-end backdrop-blur-md rounded-2xl bg-[#FAF7F5] bg-opacity-30 dark:bg-slate-600 dark:bg-opacity-30 px-4 py-4 pb-14 md:pb-36 pr-12">
    <div class="flex flex-col relative">
    <div class="text-black dark:text-gray-100 md:text-4xl text-2xl font-medium justify-center">Get 3D data for your swing –</div>
    <div class="text-black dark:text-gray-100 md:text-4xl text-2xl font-medium mb-10 justify-center">Anytime, Anywhere</div>
    </div>
    <div class="flex flex-row relative">
        <img src="{{url_for('static', filename='sequence_rory.png')}}" class="rounded-2xl w-96 absolute top-24 left-24" alt="sequence Rory McIlroy">
        <div class="relative">
        <video class="w-60  rounded-2xl relative object-cover" autoplay muted id="video" src="{{url_for('static', filename='motion-2.mp4')}}"></video>
        <button class="bg-gray-200 w-6 h-6 rounded-full hidden absolute top-2 right-2 py-1 px-1" id="video-replay">
            <svg height="100%" stroke-miterlimit="10" style="fill-rule:nonzero;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;" version="1.1" viewBox="0 0 20 20" width="100%" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs/>
            <g id="Ebene-1">
            <g opacity="1">
            <path d="M17.6795 11.3614C17.6795 15.6027 14.2413 19.0409 10 19.0409C5.7587 19.0409 2.32045 15.6027 2.32045 11.3614C2.32045 7.1201 5.7587 3.68185 10 3.68185C11.3614 3.68185 11.3614 3.68185 11.3614 3.68185" fill="none" opacity="1" stroke="#0e2640" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <g opacity="1">
            <path d="M11.3614 3.68185L8.6386 6.40465" fill="none" opacity="1" stroke="#0e2640" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            <path d="M11.3614 3.68185L8.6386 0.959058" fill="none" opacity="1" stroke="#0e2640" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            </g>
            </g>
            </g>
            </svg>
        </button>
        </div>
        </div>
</div>
</div>

<!--payment-->
<div class="relative flex justify-center mb-20">
<div class="flex  rounded-2xl flex-col w-full  z-20 mt-44 xl:w-1/2 w-full relative backdrop-blur-md rounded-2xl px-4 py-4 dark:bg-slate-600 dark:bg-opacity-30 bg-[#FAF7F5] bg-opacity-30">

<div class="w-full flex flex-row relative justify-center flex-wrap mb-10">
    <div class="text-black dark:text-gray-100 md:text-4xl text-2xl font-medium justify-center">Start&nbsp;</div>
    <div class="text-black dark:text-gray-100 md:text-4xl text-2xl font-medium justify-center">to&nbsp;</div>
    <div class="bg-clip-text bg-gradient-to-br from-indigo-700 to-orange-500 flex flex-row flex-wrap">
        <div class="text-transparent  md:text-4xl text-2xl font-medium justify-center">improve&nbsp;</div>
        <div class="text-transparent md:text-4xl text-2xl font-medium justify-center">your&nbsp;</div>
        <div class="text-transparent md:text-4xl text-2xl font-medium justify-center">game&nbsp;</div>
    </div>
    <div class="text-black dark:text-gray-100 md:text-4xl text-2xl font-medium justify-center">today</div>
</div>

<div class="flex flex-col md:flex-row justify-between gap-3">
<div class="dark:bg-gray-700 dark:border-gray-900 bg-white shadow h-full rounded-xl py-5 px-5 w-full backdrop-blur-md bg-opacity-70 border border-gray-100 dark:bg-opacity-70">
    <div class="flex flex-col h-full">
        <span class="text-lg font-bold text-indigo-700 sm:text-lg block mb-1 dark:text-indigo-500">
            Starter
        </span>

        <span class="text-sm text-gray-500 font-bold dark:text-gray-300">
            2 Analyses
        </span>
        <span class="text-xs text-gray-500 mb-4 dark:text-gray-300">
            One time payment
        </span>

        <span class="font-medium text-gray-900 text-2xl block dark:text-gray-300">
            2€
        </span>

    </div>
</div>

    <div class="dark:bg-gray-700 dark:border-gray-900 bg-white shadow h-full rounded-xl py-5 px-5 w-full backdrop-blur-md bg-opacity-70 border border-gray-100 dark:bg-opacity-70">
    <div class="flex flex-col h-full">
        <span class="text-lg font-bold text-indigo-700 sm:text-lg block mb-1 dark:text-indigo-500">
            Essential
        </span>

        <span class="text-sm text-gray-500 font-bold dark:text-gray-300">
            5 Analyses
        </span>

        <span class="text-xs text-gray-500 mb-4 dark:text-gray-300">
            One time payment
        </span>

        <span class="font-medium text-gray-900 text-2xl block dark:text-gray-300">
            5€
        </span>

    </div>
</div>

    <div class="dark:bg-gray-700 dark:border-gray-900 bg-white shadow h-full rounded-xl py-5 px-5 w-full backdrop-blur-md bg-opacity-70 border border-gray-100 dark:bg-opacity-70">
    <div class="flex flex-col h-full">
        <span class="text-lg font-bold text-indigo-700 sm:text-lg block mb-1 dark:text-indigo-500">
            Professional
        </span>

        <span class="text-sm text-gray-500 font-bold dark:text-gray-300">
            Unlimited Analyses
        </span>

        <span class="text-xs text-gray-500 mb-4 dark:text-gray-300">
            Subscription
        </span>

        <div class="flex flex-row items-baseline">
            <span class="font-medium text-gray-900 text-2xl block dark:text-gray-300">
                10€
            </span>
            <span class="font-medium text-gray-500 text-base block ml-1 dark:text-gray-400">
                /month
            </span>
        </div>

    </div>
</div>
</div>
</div>

<!--<div class="flex flex-row min-h-full w-full py-8 mx-auto inset-x-0 fixed inset-y-0 justify-center items-center z-0 bg-fixed">-->
<!--     <img src="{{url_for('static', filename='background.png')}}" class="w-[45rem] z-0" alt="golfer">-->
<!--</div>-->
    
</div>



{% endblock %}
