{% extends "base2.html" %}

{% block content %}

<!--<script>-->
<!--    bod = document.body;-->
<!--    bod.classList.remove("h-full");-->
<!--    bod.classList.add("h-screen");-->
<!--</script>-->

<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.2/math.js"></script>

<!--hand gestures-->
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/tasks-vision/vision_bundle.js"></script>

<!--audio-->
<!--<script src="-->
<!--https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js-->
<!--"></script>-->


<audio id="audio" loop src="../assets/soundOK.m4a"></audio>

<div class="flex flex-row relative gap-2 mb-3 items-end w-full justify-center w-full mt-10">
    <div class="flex flex-col gap-1">
        <label class="text-xs text-gray-400" for="lower-margin-in">Lower Margin</label>
        <input class="w-32 rounded-lg text-xl font-bold border-gray-600 border dark:bg-gray-500 dark:text-white px-2.5 h-12"
               id="lower-margin-in"
               type="number"
               value="-180">
    </div>

    <div class="flex flex-col gap-1">
        <label class="text-xs text-gray-400" for="upper-margin-in">Upper Margin</label>
        <input class="w-32 rounded-lg text-xl font-bold border-gray-600 border dark:bg-gray-500 dark:text-white px-2.5 h-12"
               id="upper-margin-in"
               type="number"
               value="180">
    </div>

    <button class="bg-gray-700 border border-gray-600 text-sm rounded-lg block px-2.5 h-12  text-white w-32"
            id="save">Save
    </button>
</div>

<!--main div containing video and color-->
<div class="container w-full grow flex flex-col relative rounded-2xl mb-5 items-center justify-center"
     id="container-pose"
     style="background-color: #9ca3af">

    <video class="absolute top-5 left-5 hidden" id="video" muted playsinline></video>

    <div class="absolute top-3 right-3 rounded-2xl bg-gray-300 animate-pulse w-56"
         id="canvas-loader"
         style="height: 144px; display: none"></div>

    <div class="absolute top-3 right-3 flex flex-col gap-2" id="video-container" style="display: none">

        <canvas class="output_canvas rounded-2xl mb-2"></canvas>

        <!--        <div class="w-full rounded-lg bg-gray-900 p-2.5 text-white text-sm" id="camera-angle">Camera Angle: –-->
        <!--        </div>-->

    </div>

    <!--    <div class="landmark-grid-container"></div>-->
    <span class="text-7xl font-bold relative" id="calculatedValue">0°</span>
    <div class="text-sm" id="camera-angle">Camera Angle: –
    </div>

    <!--    controls-->
    <div class="flex flex-row flex-wrap gap-2 bg-gray-900 rounded-xl p-2 absolute bottom-3 left-3 right-3 shadow">

        <button class="bg-gray-700 border border-gray-600 text-sm rounded-lg block p-2.5   text-white grow"
                id="start">Start
        </button>
        <button class="bg-gray-700 border border-gray-600 text-sm rounded-lg block p-2.5   text-white grow"
                id="stop">Stop
        </button>
        <button class="bg-gray-700 border border-gray-600 text-sm rounded-lg block p-2.5   text-white grow"
                id="setup">Setup
        </button>
        <label class="sr-only" for="camera-selection">Camera</label>
        <select
                class="grow bg-gray-700 border border-gray-600 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 h-12  dark:placeholder-gray-400 text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="camera-selection">
        </select>

        <label class="sr-only" for="body-part-selection">Body Part</label>
        <select
                class="grow bg-gray-700 border border-gray-600 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 h-12  dark:placeholder-gray-400 text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                id="body-part-selection">
            <option value="thoraxRotation">Thorax Rotation</option>
            <option value="pelvisRotation">Pelvis Rotation</option>
        </select>

    </div>

</div>

<script defer src="../assets/process.js" type="module"></script>

{% endblock %}