{% extends "base2.html" %}

{% block content %}

<script>
    bod = document.body;
    bod.classList.remove("h-full");
    bod.classList.add("h-screen");
</script>

<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils_3d/control_utils_3d.js"></script>
<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
<script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/@mediapipe/pose/pose.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/9.3.2/math.js"></script>

<div class="container w-full h-full flex flex-col relative rounded-2xl my-5 items-center justify-center"
     id="container"
     style="background-color: #9ca3af">
    <video class="absolute top-5 left-5 hidden" height="144" id="video" muted playsinline width="256"></video>

    <div class="flex flex-row absolute top-5 left-5 gap-4">
        <button class="bg-indigo-600 text-white text-sm rounded-full px-2 py-1" id="stop">Stop</button>
        <button class="bg-indigo-600 text-white text-sm rounded-full px-2 py-1" id="start">Start</button>
        <button class="bg-indigo-600 text-white text-sm rounded-full px-2 py-1" id="setup">Setup</button>
    </div>

    <div class="absolute top-5 right-5 rounded-2xl bg-gray-300 animate-pulse"
         style="height: 144px; width: 256px"></div>

    <canvas class="output_canvas rounded-2xl absolute top-5 right-5" height="144" width="256"></canvas>

    <!--    <div class="landmark-grid-container"></div>-->
    <span class="text-7xl font-bold relative" id="thorax-rotation">0°</span>
</div>

<script defer src="../assets/process.js" type="module"></script>

{% endblock %}