<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Swinglab</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../assets/output.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
<div class="h-full">
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="w-full items-center justify-center flex flex-col max-w-md">
  <div class="w-full max-w-md px-8 py-8 bg-white dark:bg-gray-700 shadow rounded-2xl dark:bg-opacity-80 dark:backdrop-blur-md bg-opacity-80 backdrop-blur-md">
    <div>
      <h2 class="text-center text-3xl font-bold tracking-tight text-gray-900 dark:text-gray-100 mb-8">Sign in to your account</h2>
    </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
            <div class="group relative flex w-full justify-center rounded-lg border border-transparent bg-red-100 py-2 px-4 text-sm font-medium text-red-700">
                {{ messages[0] }}
            </div>
      {% endif %}
      {% endwith %}
    <form class="mt-8 space-y-10" method="POST" action="/login">
      <input type="hidden" name="remember" value="true">
      <div class="space-y-2 rounded-lg shadow-sm">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input id="email-address" name="email" type="email" autocomplete="email" required class="dark:bg-gray-600 dark:border-gray-900 dark:text-gray-100 relative block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 text-base" placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required class="dark:bg-gray-600 dark:border-gray-900 dark:text-gray-100 relative block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 text-base" placeholder="Password">
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember-me" name="remember" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="remember-me" class="ml-2 block text-sm text-gray-900 dark:text-gray-100">Remember me</label>
        </div>

        <div class="text-sm">
          <a href="{{url_for('auth.reset_password')}}" class="font-medium text-sm text-indigo-500 hover:text-indigo-400">Forgot your password?</a>
        </div>
      </div>

      <div>
        <button type="submit" class="group relative flex w-full justify-center rounded-lg border border-transparent bg-indigo-600 py-2 px-4 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        </button>
      </div>
    </form>



  </div>

  <div class="bottom-4 text-xs text-gray-100 dark:text-gray-700 bg-slate-600 dark:bg-slate-200 rounded-lg px-6 py-3 flex flex-wrap items-center justify-center w-full text-center mt-20">
    🍪 This website uses cookies to handle authentication.
    <span>By using this website, you agree to our</span>
    <span><a href=" {{  url_for('main.privacy') }} " class="underline">Privacy Policy</a>&nbsp;and&nbsp;<a href=" {{  url_for('main.terms') }} " class="underline">Terms of Use</a>.</span>
  </div>

    </div>

</div>
</div>
</body>

<script>
    bod = document.body
    let darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches

    if (darkMode) {
        bod.style.backgroundColor = "#000000"
        bod.className = "bgDark overflow-y-auto"
    }
    else {
        bod.style.backgroundColor = "#FAF7F5"
        bod.className = "bg overflow-y-auto"
    }

    window
    .matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', e => {
        darkMode = e.matches;

        // bg image in css class
        if (darkMode) {
            bod.style.backgroundColor = "#000000"
            bod.className = "bgDark overflow-y-auto"
        }
        else {
            bod.style.backgroundColor = "#FAF7F5"
            bod.className = "bg overflow-y-auto"
        }
    })

        </script>

</html>
