<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Swinglab – Verify your email-address</title>
</head>
<body>
<div style="display:flex;flex-direction:column;margin:2.5rem;overflow-x:hidden;position:relative; font-family: sans-serif">
    <span style="font-size:24px;font-weight:bold;margin-bottom:1.25rem;">Verify your email address</span>
    <span style="font-size:18px;font-weight:bold;margin-bottom:0.25rem;">Hi {{ name }},</span>
    <span style="font-size:18px;font-weight:bold;margin-bottom:1.25rem;">To activate your account please verify your email address by pressing the button below.</span>
    <div style="margin-bottom:2.5rem;">
    <a href="{{ url }}" style="text-decoration: none;display:block;width:fit-content;font-size:16px;font-weight:bold;background-color:#818cf8;color:white;padding:1rem;text-align:center;border-radius:10px;">Verify email address</a>
    </div>
    <span style="font-size:14px;color:#9B9B9B;">This link will expire in 24 hours. If you did not create an account, please ignore this email.</span>
</div>
</body>
</html>
