{% extends "base2.html" %}

{% block content %}
<div class="flex min-h-full h-screen flex-col items-center justify-center text-center flex-wrap py-12 px-4 sm:px-6 lg:px-8">
<!--    <span>Analyze your swing</span>-->
    <div class="flex flex-row">
        <span class="text-transparent font-bold text-2xl sm:text-3xl bg-gradient-to-br from-indigo-400 to-rose-600 bg-clip-text dark:bg-gradient-to-b dark:from-amber-300 dark:to-orange-500">Thank you for your purchase</span>
        <span class="sm:text-3xl text-2xl">🎉</span>
    </div>
    <span class="text-gray-900 dark:text-gray-100 font-bold text-lg mt-4">Let's start to improve your game</span>

</div>
{% endblock %}