<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SwingAnalysis</title>
    <!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link rel="stylesheet" href="../assets/output.css">
</head>

<body style="background-color: rgba(246, 249, 255, 1)">

<div class="flex flex-col min-h-full items-center justify-center px-4 place-items-center h-screen sm:px-6 lg:px-8 text-center">
    <h2 class="text-lg font-bold tracking-tight text-gray-900 sm:text-2xl block">
        <span class="block text-xl">A verification email has been sent to {{email}}</span>
        <span class="block mt-8">Please check your inbox to verify your email-address</span>
    </h2>
    <h2 class="mt-8 text-base leading-6 text-gray-900 sm:text-xl block">
        <a class="text-indigo-600 hover:text-indigo-700" href="/send_mail">Resend</a> verification email
    </h2>
    <span class="text-base">
        If the email is not in your inbox, please check your spam folder and make sure the email-address is correct.
    </span>
    <span class="text-base">
        You can directly head to your <a class="text-indigo-600 hover:text-indigo-700" href="/profile">profile</a> and manage your account.
    </span>
</div>

</body>

</html>